@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Roboto+Mono:wght@300&display=swap");
/*
font-family: 'Monomaniac One', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
$black-default-back: #24292f;

@mixin default-font {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  color: whitesmoke;
  letter-spacing: 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $black-default-back;

  main {
    width: 70%;
    margin: auto;
  }
}

.navbar-nav {
  .navbar-nav__title {
    font-family: "Monomaniac One", sans-serif;
    font-size: 5rem;
    color: whitesmoke;
    letter-spacing: 0.5rem;
    text-align: center;
  }
}

.main-container {
  display: flex;
  align-items: center;
  gap: 2rem;

  .main-player-options {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      background-color: $black-default-back;
      border: 1px solid whitesmoke;
      outline: none;
      border-radius: 50%;
      padding: 1rem;
      margin: 1rem 0;
      cursor: pointer;
      transform: scale(1);

      .image-option {
        width: 7rem;
        aspect-ratio: 1/1;
      }
    }

    h1 {
      @include default-font();
    }

    button:focus {
      border: 1px solid orange;
      transform: scale(1.1);
      transition: all 100ms ease-in-out;
    }

    button:hover,
    button:active {
      background-color: lighten($black-default-back, 10%);
    }
  }

  .main-result {
    background-color: lighten($black-default-back, 3%);

    @include default-font();
    width: 100%;

    fieldset {
      height: 35rem;
      border: 1px solid rgba(245, 245, 245, 0.405);
      color: whitesmoke;
      padding: 1.5rem;

      figcaption {
        text-align: center;
      }

      .main-result__round {
        display: none;
        justify-content: center;
        align-items: center;

        figure {
          height: 15rem;
        }
      }
    }

    .main-result__image {
      width: 10rem;
      aspect-ratio: 1/1;
    }
  }
}

.main-score {
  @include default-font();

  fieldset {
    border: 1px solid rgba(245, 245, 245, 0.405);
    color: whitesmoke;
    padding: 1rem;
    line-height: 2rem;

    span {
      font-weight: bolder;
    }
  }
}
